:root {
  --primary-color: #2ecc71;
  --secondary-color: #27ae60;
  --accent-color: #1abc9c;
  --background-color: #1a1a1a;
  --text-color: #ecf0f1;
  --dark-background: #182e22;
  --light-text: #f8fafc;
  --dark-text: #95a5a6;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--light-text);
  padding: 0.8rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--accent-color);
}

header {
  position: fixed;
  width: 100%;
  background-color: #1a1a1ae5;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}
.social-icons:not(:last-child), .footer-social {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.nav-links {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background-color: var(--dark-background);
  padding: 2rem;
  z-index: 1001;
}

.nav-links.active {
  right: 0;
}

.nav-links ul {
  list-style: none;
  padding: 0;
}

.nav-links li {
  margin-bottom: 1.5rem;
}

.nav-links a {
  color: var(--text-color);
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.close-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.menu-toggle {
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    padding: 0;
  }

  .nav-links ul {
    display: flex;
  }

  .nav-links li {
    margin-left: 1.5rem;
    margin-bottom: 0;
  }

  .close-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    transition: right 0.3s ease-in-out;

  }

  .nav-links.active {
    display: flex;
    right: 0;
  }

  .menu-toggle {
    display: flex;
  }
}

main{
  padding-top: 95px;
}

.hero {
  height: calc(100vh - 95px);
  background-image: url('https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/images/herobackground.jpg");
  filter: blur(10px);
  background-position: center;
  background-size: cover;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1a1a1ab3; 
  z-index: 1; 
}

.hero-content {
  text-align: center;
  max-width: 800px;
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

section{
  padding-inline: 2rem;
  margin-bottom: 3rem;
}

section:not(:first-of-type) {
  padding-block: 5rem;
}

section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

#news, #squad, #gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-grid, .squad-grid, .gallery-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.news-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.news-section .news-item{
  width: 100%;
  max-width: 800px;
}


.news-item, .player, .gallery-item {
  background-color: var(--dark-background);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
  min-width: 300px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.news-item:hover, .player:hover, .gallery-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.news-item {
  padding: 1.5rem;
}

.news-item h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--secondary-color);
}

.news-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.read-more {
  color: var(--primary-color);
}

.date {
  color: var(--dark-text);
  font-size: 0.9rem;
}

.player {
  text-align: center;
  padding: 1.5rem;
}

.player-avatar {
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
}

.player-avatar img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
}

.player h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
}

.player p {
  color: var(--dark-text);
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--dark-background);
  padding: 2rem;
  border-radius: 0.5rem;
}

.about-content p {
  margin-bottom: 1rem;
}

.gallery-item {
  position: relative;
}

.gallery-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 23, 42, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.match-schedule{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.matchs-item{
  min-width: 300px;
  width: 100%;
  text-align: center;
  gap: 1rem;
}


.contact-info {
  margin-bottom: 2rem;
}


.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  margin: 0.5rem 0;
}

.contact-form {
  padding: 2rem;
  border-radius: 8px;
}

.contact-form h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.contact-form label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: block;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset{
  margin-bottom: 3rem;
}

legend{
  padding-inline: 2rem;
}
textarea{
  resize: none;
}
footer {
  background-color: var(--dark-background);
  padding: 3rem 2rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-info h3 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact{
  color: black;
  border-bottom: 1px black solid;
}

.footer-social a {
  margin-left: 1rem;
  transition: color 0.3s ease;
  transition: border-bottom 0.1s ease;
}

.footer-social a:hover {
  color: var(--primary-color);
  border-bottom: 1px var(--primary-color) solid;
}

.footer-copyright {
  text-align: center;
  color: var(--dark-text);
  font-size: 0.9rem;
}

@media (max-width: 960px) {
   .nav-links ul li a{
      font-size: 0.9rem;
    }
}

@media (max-width: 850px) {
  .nav-links ul li a{
     font-size: 0.74rem;
   }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  section:first-of-type {
    padding-inline: 1rem;
    margin-bottom: 3rem ;
  }

  section:not(:first-of-type) {
    padding: 3rem 1rem;
  }

  .nav-links ul li a{
    font-size: 1rem;
  }
  
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-social {
    margin-top: 1rem;
  }
}

.animate-slide {
  transform: translateY(100px); 
  opacity: 0; 
  transition: transform 1s ease, opacity 1s ease; 
}

.animate-slide.active {
  transform: translateY(0); 
  opacity: 1;
}