.text-primary {
    color: #4482c3;
}

.text-secondary {
    color: #8db9e6;
}

.text-accent {
    color: #5da2ea;
}

.bg-primary {
    background-color: #4482c3;
}

.bg-secondary {
    background-color: #8db9e6;
}

.bg-accent {
    background-color: #5da2ea;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #0b0b0b;
    background-color: #f5f8fb;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100vw;
    left: 0;
    background-color: #f5f8fb;
    box-shadow: #0b0b0b 0px 0px 0px 1px;
    z-index: 1000;
}

header > nav {
    padding: 10px 20px;
}

#header-title-container > a > h1 {
    margin: 0;
    text-align: center;
}

#header-title-icons-container {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

#header-title-icons-container > img {
    user-select: none;
}

a {
    text-decoration: none;
    color: unset;
}

nav {
    display: flex;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex: 1;
}

nav > ul > li {
    font-weight: 600;
    letter-spacing: 1px;
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-bottom: 5px;
    text-align: center;
}

nav > ul > li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0%;
    background-color: black;
    transition: width 0.3s ease-in-out;
}

nav > ul > li:hover::after {
    width: 100%;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
    height: calc(100vh - 69px);
    background-image: url('images/herobackground.jpg');
    background-blend-mode: color-dodge;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8dbae6a3;
    backdrop-filter: blur(5px);
}

.hero-content {
    z-index: 2;
    position: relative;
    text-align: center;
    color: white;
}

.content-container {
    max-width: 600px;
    padding: 20px;
}

.title {
    font-size: 3rem;
    text-align: center;
        color: white;
    z-index: 1;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    color: white;
    z-index: 1;
}
.transition-section {
    padding: 60px 20px;
    text-align: center;

}

.transition-content {
    max-width: 600px;
    margin: 0 auto;
}

.transition-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.transition-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    background-color: #4482c3; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5da2ea; 
}

.news-section {
    padding: 40px 20px;
    text-align: center;
    background-color: #e8ebef;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.news-item {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.news-item h3 {
    font-size: 1.8rem;
    margin: 0 0 10px 0;
}

.news-item p {
    margin: 5px 0;
}

.news-item .more {
    display: inline-block;
    margin-top: 10px;
    color: #4482c3;
}
.news-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.news-item {
    margin: 20px 0;
}

.club-info-section {
    background-color: #f1f5f8;
    padding: 30px;
    margin: 50px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.club-info-section h2 {
    text-align: center;
    font-size: 2rem;
    color: #4482c3;
    margin-bottom: 20px;
    font-weight: bold;
}

.club-info-section p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

.club-info-section a {
    color: #4482c3;
    text-decoration: none;
    font-weight: bold;
}

.club-info-section a:hover {
    text-decoration: underline;
}

.team-roster-section {
    background-color: #e8ebef;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 50px 20px;
    margin-bottom: 50px;
}

.team-roster-section h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #4482c3;
    margin-bottom: 20px;
    font-weight: 700;
}

.team-roster-section > div {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    max-width: 1000px;
    width: 100%;
    margin: 10px 0;
}

.team-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
}

.team-table th,
.team-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.team-table th {
    background-color: #4482c3;
    color: white;
    font-weight: bold;
}

.team-table tr:nth-child(even) {
    background-color: #f5f8fb;
}

.team-table tr:hover {
    background-color: #ddd;
}

.team-table td {
    color: #333;
}

.team-table td:first-child {
    font-weight: bold;
    color: #4482c3;
}

.gallery-section {
    padding: 40px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.galleryItemsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.gallery-item {
    margin: 10px;
}

.gallery-item img {
    width: 100%; 
    width: 300px; 
    height: 200px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #4482c3;
    color: white;
}


@media screen and (max-width: 768px) {
    nav > ul {
        flex-direction: column;
        gap: 0.5rem;
    }

    .title {
        font-size: 2.5rem; 
    }

    .subtitle {
        font-size: 1.25rem;
    }

    .content-container {
        padding: 15px;
    }
    .hero{
        margin-top: 108px;
        height: calc(100vh - 108px);
    }
    .transition-section h2 {
        font-size: 2rem;
    }

    .transition-section p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 520px) {
    header > nav {
        padding: 5px 10px; 
    }

    nav > ul {
        gap: 0.3rem; 
    }

    nav > ul > li {
        font-size: 0.9rem; 
    }

    .title {
        font-size: 2rem; 
    }

    .subtitle {
        font-size: 1rem;
    }

    .content-container {
        padding: 10px; 
    }

    .hero {
        height: calc(100vh - 86px); 
        margin-top: 86px    ;
    }
    .news-section h2,
    .about-section h2,
    .team-section h2,
    .gallery-section h2 {
        font-size: 2rem;
    }

    .news-item,
    .team-member {
        font-size: 1rem;
        
    }

    .gallery-item {
        max-width: 100%; 
    }
}

@media screen and (max-width: 480px) {
    nav {
        flex-direction: column; 
    }

    #header-title-container {
        padding-bottom: 1rem;
        order: -1; 
    }

    #header-TitleIcons-container {
        justify-content: center;
    }

    .title {
        font-size: 1.8rem; 
    }

    .subtitle {
        font-size: 0.9rem; 
    }

    .hero{
        height: calc(100vh - 227px);
        margin-top: 227px;
    }
}
